/* Common styles for both orientations */
body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comic Sans MS';
  overflow: hidden;
}

.button {
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  padding: 10px 20px;
  background-color: #FFC0CB;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Comic Sans MS', sans-serif;
}

.button:hover {
  background-color: #FFB6C1;
  transform: scale(1.05);
}

/* Styles for desktop and large screens */
@media screen and (min-width: 768px) {
  body {
    background-image: url(desktop.jpg);
    background-size: cover;
    background-position: center;
  }
}

/* Styles for phones */
@media screen and (max-width: 767px) {
  body {
    background-image: url(phone.jpg);
    background-size: contain; /* Ensure background fits within body */
    background-position: center;
    background-attachment: fixed;
  }

  .button {
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
    bottom: 200px;
    padding: 3% 5%;
  }

  .button:hover {
    transform: translate(-50%, -55%);
  }
}
